root { 
    display: block;
}

html {
    background-color: #f3f3f3;
}

body {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: white;
}

#state {
    position: relative;
    bottom : 0px;
}

/*#response {
    width:29em;
    height:2em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}*/